extends layout

block content
  h1= title
  form(id='hybridcarsForm', action="/resource/hybridcars", method="POST")
    div.form-group
      label.hybridcarsAttr(for='name') name
      input#name(type='text', name='name')
    div.form-group
      label.hybridcarsAttr(for='mileage_mpg') mileage_mpg
      input#mileage_mpg(type='number', name='mileage_mpg')
    div.form-group
      label.hybridcarsAttr(for='type') type
      input#type(type='text', name='type')
    input(type="submit")

  script.
    document.forms['hybridcarsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
